@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Възтановяване на парола";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="row d-flex align-items-center justify-content-center mt-4">
    <div class="col-md-4">
        <form method="post">
            <h3 class="text-center">Въведете имейл</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label">Имейл</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Изпрати</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
