﻿@{
    ViewData["Title"] = "400 Възникна грешка";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="d-flex flex-column align-items-center justify-content-center mb-4 text-center">
            <div class="col-12">
                <img src="https://cdn.presslabs.com/wp-content/uploads/2018/03/custom-error-pages-825x510.png" alt="Error 400 Bad Request" class="img-thumbnail" style="border: 1px solid #fff; border-radius: 0.5rem;">
                <div class="text-center h4">
                    <p>Нещо се обърка, заяката бе беше изпълнена успешно.</p>
                </div>
                <div class="text-cdnter h5">Върнете се към <a asp-controller="Home" asp-action="Index">началната</a> страница</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>