﻿@{
    ViewData["Title"] = "403 Forbidden";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="d-flex flex-column align-items-center justify-content-center mt-4 mb-4 text-center">
            <div class="col-12">
                <img src="https://www.hostens.com/wp-content/uploads/2021/02/Hostens_blogas_error403.png" alt="403 Forbidden" class="img-thumbnail" style="border: 1px solid #fff; border-radius: 0.5rem;">
                <div class="text-center h4">
                    <p>Oops, нямате права за достъп до тази страница..</p>
                </div>
                <div class="text-cdnter h5">Върнете се към <a asp-controller="Home" asp-action="Index">началната</a> страница</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>