﻿@{
    ViewData["Title"] = "404 Page Not Found";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="d-flex flex-column align-items-center justify-content-center mb-4 text-center">
            <div class="col-12">
                <img src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=826&t=st=1690541309~exp=1690541909~hmac=d2eebba4387afc09c6ada4deea8b63ed93cc68605d9939e2fce910955828f4c0" alt="404 Page Not Found" class="img-thumbnail" style="border: 1px solid #fff; border-radius: 0.5rem;">
                <div class="text-center h4">
                    <p>Oops, страницата, която търсите, не беше намерена.</p>
                </div>
                <div class="text-cdnter h5">Върнете се към <a asp-controller="Home" asp-action="Index">началната</a> страница</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>