@model IEnumerable<LikedProductViewModel>

@{
    ViewBag.Title = "Люмими Продукти";
}

<div>
    <div class="p-5 bg-light text-center mt-4 mb-4">
        <h3 class="display-4">@ViewData["Title"]</h3>
    </div>

    @if (Model.Any())
    {
        <div class="row w-100 m-auto">
            <h3 class="text-left mb-4">Люмими @Model.Count()</h3>
            <div class="mb-12">
                @foreach (var product in Model)
                {
                    <partial name="_MyLikedProductsPartial" model="@product" />
                }
            </div>
        </div>
    }
    else
    {
        <h4 class="mt-4 mb-4 text-center">
            Все още нямате добавени продукти в любими.
            <a class="link-dark" asp-controller="Product" asp-action="AllProducts">Разгледайте всички продукти.</a>
        </h4>
    }
</div>