<div class="w-100 d-flex justify-content-center">
    <a class="btn btn-danger" style="margin-right: 0.5rem; padding: 0.2rem 0.5rem;">Изтрий</a>
    <a class="btn btn-outline-primary" style="padding: 0.2rem 0.5rem;">Редактирай</a>
</div>