<div class="col-md-4 all-product-container mb-4">
    <div class="card mb-3 product-item-container justify-content-end">
        <partial name="_ProductPartial" model="@Model" />

        <partial name="_AddToCartPartial" model="@Model" />
    </div>
</div>