@{
    ViewBag.Title = "Моята количка" + @Model.Title;
}

<div class="d-flex flex-column align-items-center justify-content-center mt-4 mb-4 text-center">
    <h1>Моята количка</h1>

    <h4 class="mt-4 mb-4">Все още нямате добавени продукти в количката си.</h4>
</div>